# API URL (Point this to your Render URL in production)
# Example: https://your-api-name.onrender.com/api/v1
NEXT_PUBLIC_API_URL="http://localhost:8000/api/v1"

# App Base URL
# Example: https://your-app-name.vercel.app
NEXT_PUBLIC_APP_URL="http://localhost:3000"
